CompileFlags:
  Add:
    [
      -Weverything,
      -Wno-c11-extensions,
      -Wno-c23-compat,
      -Wno-c23-extensions,
      -Wno-c2x-compat,
      -Wno-c2x-extensions,
      -Wno-c99-compat,
      -Wno-c99-designator,
      -Wno-c99-extensions,
      -Wno-declaration-after-statement,
      -Wno-used-but-marked-unused,
      -Wno-missing-variable-declarations,
      -Wno-padded,
      -Wno-unsafe-buffer-usage,
      -D_CLANGD=1,
    ]
  Remove: -W*
---
If:
  PathMatch: [.*\.h, .*\.rsc]
CompileFlags:
  Add: [-xc-header, -std=c11, -D_CLANGD=1, -Wno-unused-macros]
---
If:
  PathMatch: [.*\.hpp]
CompileFlags:
  Add:
    [
      -xc++-header,
      -std=c++20,
      -D_CLANGD=1,
      -Wno-c++98-compat,
      -Wno-c++98-compat-pedantic,
      -Wno-c++11-compat,
      -Wno-c++11-compat-pedantic,
      -Wno-c++14-compat,
      -Wno-c++14-compat-pedantic,
      -Wno-c++17-compat,
      -Wno-c++17-compat-pedantic,
    ]
