*.bin
*.o
*.p
*.aux
*.daux
*.dvi
*.dep
*.dtoc
*.exe
*.ilg
*.ind
*.haux
*.htoc
*.html
*.idx
*.log
*.msg
*.out
*.pdf
*.ps
*.rsc
*.toc

testlog
run-msbuild.bat

out/*
.vscode/*
.vs/*

compile_commands.json
CMakeSettings.json

build*/*
